@import "tailwindcss";

html, body{
  font-family: var(--font-outfit);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes highlight {
  0% {
    background-color: transparent;
    color: white;
  }
  100% {
    background-color: #82c0cc;
    color: #171717;
  }  
}

.highlight-animate {
  animation: highlight 1s ease-in-out forwards;
}
